<main class="main">
  <form class="js-form form" action="#">
    <input
      class="js-searchText search"
      type="text"
      placeholder="Por ejemplo: 'Dexter'"
    />
    <input class="js-searchBtn btn" type="submit" value="Search" />
  </form>
  <div class="contentResults">
    <section class="favoriteList">
      <h3 class="favoriteList__title">Mis series favoritas</h3>
      <ul class="favoriteList__items js-favoriteItems"></ul>
    </section>
    <ul class="js-filmList filmsList"></ul>
  </div>
</main>
