/*.boxNewItem {
  background-color: $orange;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;

  border: dotted 3px $background;
}*/
.liFavorite {
  background-color: $almostwhite;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  border: dotted 3px $background;
}
.liElement {
  display: contents;
  background-color: $green;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  border: dotted 3px $background;
}

.titleItem {
  background-color: $green;
  color: $almostwhite;
  font-size: 20px;
}
.titleFav {
  background-color: $almostwhite;
  color: $green;
  font-size: 20px;
}
