//FORM
.main {
  margin: 5px 35px;
}
.form {
  margin: 10px auto 30px 30px;
}
.form__search {
  height: 35px;
  width: 240px;
  border-radius: 5px;
  border: inset 2px $dark;
  color: $almostwhite;
  padding-left: 10px;
  font-size: 14px;
}
.form__btn {
  margin-left: 20px;
  border-radius: 5px;
  height: 35px;
  width: 60px;
  border: inset 2px $dark;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  color: $dark;
}
input::placeholder {
  color: $almostwhite;
  font-size: 15px;
  padding-left: 10px;
}

//SEARCHING CONTENT
.contentResults {
  display: flex;
  margin: 30px;
  padding: 20px 20px 30px 0;
}

.filmsList {
  margin-left: 80px;
  display: grid;
  grid-auto-rows: max-content;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 30px;
}
.liElement {
  background-color: $green;
  width: 180px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: dotted 3px $background;
  border-radius: 10px;
}
.liFavorite {
  background-color: $almostwhite;
  width: 180px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: dotted 3px $dark;
  border-radius: 10px;
}
.liTitle {
  background-color: $green;
  color: $almostwhite;
  font-size: 20px;
  margin: 10px;
}
.liTitleFav {
  background-color: $almostwhite;
  color: $dark;
  font-size: 20px;
  margin: 10px;
}
.liPic,
.liPicFav {
  width: 140px;
  margin-bottom: 5px;
}
.hidden {
  display: none;
}

// FAVORITE LIST

.favoriteList {
  min-width: 240px;
  max-height: content;
  background-color: $grey;
  border: dotted 3px $background;
  border-radius: 10px;
  text-align: center;
  padding-bottom: 20px;
}
.favoriteList__items {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $grey;
  list-style: none;
}
.favoriteList__title {
  font-size: 22px;
  border-bottom: solid 2px $dark;
  background-color: $grey;
  color: $dark;
  padding-bottom: 10px;
  margin: 15px auto;
}
.btnReset {
  width: 60px;
  height: 25px;
  border-radius: 5px;
  border: inset 2px $dark;
  cursor: pointer;
  color: $dark;
}
.liFav {
  background-color: $grey;
  padding: 10px 10px;
}
.titleFav {
  background-color: $grey;
  color: $dark;
  padding-bottom: 15px;
  font-size: 18px;
}
.picFav {
  width: 100px;
  border: solid 3px $green;
  box-sizing: content-box;
  background-color: $grey;
  color: $grey;
}
.line {
  width: 100px;
  height: 3px;
  color: $green;
  margin: 8px;
}
