.header {
  margin: 30px auto 30px 30px;
}

.form {
  margin: 10px auto 30px 30px;
}
.btn {
  margin-left: 20px;
}

.contentResults {
  display: flex;
  margin: 30px;
}

.favoriteList {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
}

.filmsList {
  width: 80%;
  display: grid;
  grid-auto-rows: max-content;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

.liFavorite {
  background-color: $almostwhite;
  width: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  border: dotted 3px $dark;
}
.liElement {
  //grid-column: 1/1;
  //grid-row: ;
  display: contents;
  background-color: $green;
  width: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  border: dotted 3px $background;
}

.titleItem {
  background-color: $green;
  color: $almostwhite;
  font-size: 20px;
  margin: 10px;
}
.titleFav {
  background-color: $almostwhite;
  color: $green;
  font-size: 20px;
}
input::placeholder {
  color: $almostwhite;
}
.hidden {
  display: none;
}
.favoriteList__items {
  display: contents;
  text-decoration: none;
}
.footer {
  display: none;
  height: 5%;
  width: 100%;
  margin: auto;
  text-align: center;
  position: absolute;
  bottom: 0;
  border-top: solid 1px $dark;
  padding: 5px;
  font-size: 14px;
}
.picFav {
  width: 100px;
}
