.boxNewItem {
  background-color: $orange;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;

  border: dotted 3px $background;
}
.boxFav {
  background-color: $almostwhite;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;

  border: dotted 3px $background;
}
.liElement {
  display: contents;
}

.titleItem {
  background-color: $orange;
  color: $almostwhite;
  font-size: 20px;
}
.titleFav {
  background-color: $almostwhite;
  color: $orange;
  font-size: 20px;
}
